mixin CreateBox(title, content, button, imgName)
    .box
        .content
            h1=title
            p=content
            a(href="#")=button
        .picture
            img(src=imgName)
<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title DogLife.
        link(rel="stylesheet", href="index.css")
    body
        .main
            include nav.pug
            +CreateBox("標題", "內容", "按鈕", "dog1.jpg")
            +CreateBox("標題2", "內容2", "按鈕2", "dog2.jpg")
            +CreateBox("標題3", "內容3", "按鈕3", "dog3.jpg") 
