mixin CreateBox(title, content, button, imgName)
    .box
        .content
            h1=title
            p=content
            a(href="#")=button
        .picture
            img(src=imgName)
<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title DogLife.
        link(rel="stylesheet", href="index.css")
    body
        .main
            include nav.pug
            +CreateBox("我們愛狗", "我們是一群熱愛狗的人士，為了保護與關懷狗建立此網站。", "詳閱", "dog1.jpg")
            +CreateBox("快樂的寵物", "讓寵物擁有開心的生活空間與品質。", "詳閱", "dog2.jpg")
            +CreateBox("寵物寫真", "我們提供寵物寫真服務，幫寵物拍得美美的。", "詳閱", "dog3.jpg") 